<!-- <div *ngIf="(gameList$ | async) as games">
    <h2>Total games played: {{ games.length }}</h2>

    
  </div>
 -->
 <div *ngIf="(gameList$ | async) as games">
    <h2>Total games played: {{ games.length }}</h2>
  
    <div *ngIf="(wonGames$ | async) as wonGames">
      <h3>Won Games: {{ wonGames.length }}</h3>
    </div>
  
    <div *ngIf="(lostGames$ | async) as lostGames">
      <h3>Lost Games: {{ lostGames.length }}</h3>
    </div>
  
    <div *ngIf="(unfinishedGames$ | async) as unfinishedGames">
      <h3>Unfinished Games: {{ unfinishedGames.length }}</h3>
    </div>
  </div>
  <div *ngIf="(gameList$ | async) as games">
  <h2>Total games played: {{ games.length }}</h2>


</div>
<!-- <div class="chart-container">
  <canvas baseChart
          [data]="chartData"
          [labels]="chartLabels"
          [chartType]="'doughnut'"
          [options]="chartOptions"
          [legend]="chartLegend">
  </canvas>
</div> -->

