
<div class="flex flex-col items-center justify-start h-screen">
  <div *ngIf="currentGame$ | async as currentGame" class="game-details bg-gray-100 p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">Game Details</h2>
    <ul>
      <li><strong>Game ID:</strong> {{ currentGame.gameId }}</li>
      <li><strong>Phrase:</strong> {{ currentGame.view }}</li>
      <li><strong>Remaining Guesses:</strong> {{ currentGame.remainingGuesses }}</li>
      <li><strong>Status:</strong> {{ currentGame.status }}</li>
      <li><strong>Previous Guesses: </strong> {{ currentGame.guesses }}</li>
    </ul>

    <div *ngIf="currentGame.status === 'Unfinished'" class="mt-4">
      <input type="text" [(ngModel)]="currentGuess" placeholder="Enter your guess" class="px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring focus:border-blue-500">
      <button (click)="makeGuess(currentGame.gameId)" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 ml-2">Guess</button>
    </div>

    <div *ngIf="currentGame.status === 'Loss'" class="mt-4">
      <p class="text-blue-600 font-bold">Target Word: {{currentGame.target}}</p>
      <p class="text-red-600 font-bold">Sorry, you lost!</p>
    </div>

    <div *ngIf="currentGame.status === 'Win'" class="mt-4">
      <p class="text-blue-600 font-bold">Target Word: {{currentGame.target}}</p>
      <p class="text-green-600 font-bold">Congratulations, you won!</p>
    </div>
  </div>
</div>








  
